.announcementTitle > h2 {
	padding: 0;
	margin: 0;
	padding-top: 30px;
}
.announcementTitle {
	border-top: 2px solid black;
	border-bottom: 1px solid #ccc;
}
.announcementTitle > p {
	padding: 10px 0;
	padding-bottom: 20px;
	color: gray;
	font-size: 14px;
}
.announcementContent {
	width: 1250px;
	min-height: 500px;
	margin: auto;
	margin-top: 40px;
	border-bottom: 1px solid #ccc;
}
.announcementBtn {
	justify-content: end;
	padding: 20px 0;
}
.announcementBtn > a {
	padding-left: 10px;
}
.announcementBtn > a > button {
	border: none;
	background-color: white;
}
.announcementBtn > a > button:hover {
	cursor: pointer;
	text-decoration: underline;
}